---

---

<!-- About lightbox-->
<div class="lightbox-wrapper" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="lightbox-content">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading page-heading">
                                <p class="section-description">
                                    Get to know me
                                </p>
                                <h2 class="section-title">About Me</h2>
                                <div class="animated-bar"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Info section-->
                    <div class="info-section single-section">
                        <div class="row align-items-center">
                            <!-- Picture part-->
                            <div class="col-12 col-lg-5 info-img">
                                <img
                                    class="img-fluid img-thumbnail"
                                    src="/img/info-img.png"
                                    alt="About Picture"
                                />
                            </div>
                            <!-- Content part-->
                            <div class="col-12 col-lg-7 info-content">
                                <div class="content-block">
                                    <h2 class="content-subtitle">Who am i?</h2>
                                    <h6 class="content-title">
                                        I'm Sameera Perera, an Engineering and
                                        Product Leader
                                    </h6>
                                    <div class="content-description">
                                        <p>
                                            I’m an engineering leader, who has
                                            built and nurtured teams that have
                                            kept innovation in the forefront.
                                            Majority of my 20 year career has
                                            been in leadership positions ranging
                                            from Architect, Product Manager and
                                            Director of Engineering. I have led
                                            teams in fledgling startups to $1Bn
                                            global companies.
                                        </p>
                                        <p>
                                            My strengths in leadership,
                                            innovation, and Product-Led Growth
                                            strategies have consistently made me
                                            the chosen leader for initiatives
                                            that pushed the boundaries of each
                                            of the businesses I’ve been part of.
                                        </p>
                                    </div>
                                    <div class="content-info">
                                        <div class="row">
                                            <div
                                                class="col-12 col-md-6 single-info"
                                            >
                                                <span>Personality:</span>
                                                <p>INTP-A</p>
                                            </div>
                                            <div
                                                class="col-12 col-md-6 single-info"
                                            >
                                                <span>Working Genius:</span>
                                                <p>
                                                    <a
                                                        href="https://www.workinggenius.com/"
                                                        >Galvanizing & Invention</a
                                                    >
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div
                                                class="col-12 col-md-6 single-info"
                                            >
                                                <span>StandOut:</span>
                                                <p>
                                                    <a
                                                        href="https://www.tmbc.com/standout-assessment/"
                                                        >Influencer, Pioneer</a
                                                    >
                                                </p>
                                            </div>
                                            <div
                                                class="col-12 col-md-6 single-info"
                                            >
                                                <span></span>
                                                <p></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="d-block d-sm-flex align-items-center"
                                    >
                                        <a
                                            class="btn content-download button-main button-scheme"
                                            href="https://linkedin.com/in/perera-sameera"
                                            role="button"
                                            target="_blank">Connect with Me</a
                                        >
                                        <ul
                                            class="list-unstyled list-inline content-follow"
                                        >
                                            <li class="list-inline-item">
                                                <a
                                                    href="https://linkedin.com/in/perera-sameera"
                                                    target="_blank"
                                                    ><i
                                                        class="icon ion-logo-linkedin"
                                                    ></i></a
                                                >
                                            </li>
                                            <li class="list-inline-item">
                                                <a
                                                    href="https://github.com/sameera"
                                                    target="_blank"
                                                    ><i
                                                        class="icon ion-logo-github"
                                                    ></i></a
                                                >
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Services section-->
                    <div class="services-section single-section">
                        <div class="row">
                            <div class="col-12">
                                <div class="section-heading">
                                    <p class="section-description">
                                        My building blocks for team culture
                                    </p>
                                    <h2 class="section-title">
                                        Foundational Values
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Single service-->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-service">
                                    <i
                                        class="icon service-icon ion-md-finger-print"
                                    ></i>
                                    <h6 class="service-title">
                                        Own Your Impact
                                    </h6>
                                    <p class="service-description">
                                        We empower you to take ownership of your
                                        work. Actively seeking opportunities to
                                        contribute, your initiative and
                                        creativity fuels innovation. You are
                                        here because we believe in you,
                                        recognizing your power to make a real
                                        difference.
                                    </p>
                                </div>
                            </div>
                            <!-- Single service-->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-service">
                                    <i class="icon service-icon ion-ios-rocket"
                                    ></i>
                                    <h6 class="service-title">
                                        United We Innovate
                                    </h6>
                                    <p class="service-description">
                                        We achieve excellence together through
                                        open communication, a shared vision, and
                                        the strength of our united team. We
                                        value diverse perspectives, actively
                                        seek everyone's voice, and believe that
                                        by working inclusively, we can achieve
                                        even greater results.
                                    </p>
                                </div>
                            </div>
                            <!-- Single service-->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-service">
                                    <i class="icon service-icon ion-md-heart"
                                    ></i>
                                    <h6 class="service-title">
                                        Transparency Builds Trust
                                    </h6>
                                    <p class="service-description">
                                        We build trust through open, honest
                                        communication. We celebrate and learn
                                        from each other's ideas, valuing diverse
                                        perspectives for shared success. This
                                        collaborative spirit allows us to learn
                                        and adapt infinitely.
                                    </p>
                                </div>
                            </div>
                            <!-- Single service-->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-service">
                                    <i class="icon service-icon ion-md-trophy"
                                    ></i>
                                    <h6 class="service-title">
                                        Lifelong Learners, Limitless Potential
                                    </h6>
                                    <p class="service-description">
                                        We embrace challenges with a growth
                                        mindset and strive for continuous
                                        improvement, setting a high bar for
                                        ourselves and our team. We believe
                                        everyone has the potential to learn and
                                        grow, and we foster an environment that
                                        supports this.
                                    </p>
                                </div>
                            </div>
                            <!-- Single service-->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-service">
                                    <i class="icon service-icon ion-md-pulse"
                                    ></i>
                                    <h6 class="service-title">
                                        Build a Better Tomorrow
                                    </h6>
                                    <p class="service-description">
                                        We prioritize understanding our
                                        customers' needs, challenges, and
                                        aspirations. With empathy and
                                        inclusivity, we design solutions that
                                        not only address those needs but also
                                        create a positive impact on their lives
                                        and the world around them.
                                    </p>
                                </div>
                            </div>
                            <!-- Single service-->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-service">
                                    <i class="icon service-icon ion-md-infinite"
                                    ></i>
                                    <h6 class="service-title">
                                        Play the Infinite Game
                                    </h6>
                                    <p class="service-description">
                                        We prioritize long-term value over
                                        short-term gains, avoiding decisions
                                        that create costly maintenance burdens.
                                        This infinite mindset ensures our
                                        solutions deliver lasting impact.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Testimonials section-->
                    <div class="testimonials-section single-section">
                        <div class="row">
                            <div class="col-12">
                                <div class="section-heading">
                                    <p class="section-description">
                                        Experiences of working alongside me
                                    </p>
                                    <h2 class="section-title">Endorsements</h2>
                                </div>
                            </div>
                        </div>
                        <div class="my-slider">
                            <div class="slider-item">
                                <!-- Single review-->
                                <div class="single-review swiper-slide">
                                    <div
                                        class="review-header d-flex justify-content-between"
                                    >
                                        <div class="review-client">
                                            <div class="media">
                                                <img
                                                    class="img-fluid rounded-circle client-avatar"
                                                    src="/img/jan.jpeg"
                                                    alt="Client"
                                                />
                                                <div class="client-details">
                                                    <h6 class="client-name">
                                                        Jan Arendtsz
                                                    </h6>
                                                    <span class="client-role"
                                                        >CEO & Founder at
                                                        Celigo, Inc</span
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <i class="icon ion-md-quote review-icon"
                                        ></i>
                                    </div>
                                    <p class="review-content">
                                        Sameera joined Celigo at an early stage
                                        and was able to make a huge impact
                                        immediately. He was single handedly
                                        responsible for one of our most
                                        successful products -- from inception to
                                        market, starting off in the role of an
                                        architect and developer, and later on as
                                        a product manager. Sameera has the
                                        technical vision and skills that place
                                        him in the upper echelons of the tech
                                        industry...
                                        <a
                                            target="_blank"
                                            href="https://www.linkedin.com/in/perera-sameera/details/recommendations/?detailScreenTabIndex=0"
                                            >Read more...</a
                                        >
                                    </p>
                                </div>
                            </div>
                            <div class="slider-item">
                                <!-- Single review-->
                                <div class="single-review swiper-slide">
                                    <div
                                        class="review-header d-flex justify-content-between"
                                    >
                                        <div class="review-client">
                                            <div class="media">
                                                <img
                                                    class="img-fluid rounded-circle client-avatar"
                                                    src="/img/shankar.jpeg"
                                                    alt="Client"
                                                />
                                                <div class="client-details">
                                                    <h6 class="client-name">
                                                        Selvaratnam
                                                        Uthaiyashanka
                                                    </h6>
                                                    <span class="client-role"
                                                        >SVP Engineering at WSO2</span
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <i class="icon ion-md-quote review-icon"
                                        ></i>
                                    </div>
                                    <p class="review-content">
                                        ... While in WSO2, Sameera came up with
                                        many innovative ideas to improve the
                                        efficiency of the engineering management
                                        such as people allocation for various
                                        tasks, etc., which we are still using.
                                        He was very close to the team members,
                                        mentored them continuously and helping
                                        them to excel in their career... He also
                                        has an excellent UX knowledge, which we
                                        used heavily in WSO2...
                                        <a
                                            target="_blank"
                                            href="https://www.linkedin.com/in/perera-sameera/details/recommendations/?detailScreenTabIndex=0"
                                            >Read more...</a
                                        >
                                    </p>
                                </div>
                            </div>
                            <div class="slider-item">
                                <!-- Single review-->
                                <div class="single-review swiper-slide">
                                    <div
                                        class="review-header d-flex justify-content-between"
                                    >
                                        <div class="review-client">
                                            <div class="media">
                                                <img
                                                    class="img-fluid rounded-circle client-avatar"
                                                    src="/img/sam.jpeg"
                                                    alt="Client"
                                                />
                                                <div class="client-details">
                                                    <h6 class="client-name">
                                                        Sameera Jayasekara
                                                    </h6>
                                                    <span class="client-role"
                                                        >Software Architect at
                                                        Celigo, Inc</span
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <i class="icon ion-md-quote review-icon"
                                        ></i>
                                    </div>
                                    <p class="review-content">
                                        He is not only a technical visionary but
                                        possesses a knack for analyzing a
                                        problem to its roots.He enables those
                                        around him to understand the problem
                                        through the same analytical process and
                                        drive the solution as a group... His
                                        managerial style is one characterized by
                                        empathy and integrity. I have never once
                                        felt uneasy about approaching him
                                        regarding career advice or technical
                                        guidance...
                                        <a
                                            target="_blank"
                                            href="https://www.linkedin.com/in/perera-sameera/details/recommendations/?detailScreenTabIndex=0"
                                            >Read more...</a
                                        >
                                    </p>
                                </div>
                            </div>
                            <div class="slider-item">
                                <!-- Single review-->
                                <div class="single-review swiper-slide">
                                    <div
                                        class="review-header d-flex justify-content-between"
                                    >
                                        <div class="review-client">
                                            <div class="media">
                                                <img
                                                    class="img-fluid rounded-circle client-avatar"
                                                    src="/img/prabath.jpeg"
                                                    alt="Client"
                                                />
                                                <div class="client-details">
                                                    <h6 class="client-name">
                                                        Prabath Abeysekara
                                                    </h6>
                                                    <span class="client-role"
                                                        >Technical Solutions
                                                        Manager at Hitachi
                                                        Construction Machinery -
                                                        Digital Solutions</span
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <i class="icon ion-md-quote review-icon"
                                        ></i>
                                    </div>
                                    <p class="review-content">
                                        ... I was stepping into a domain that
                                        was largely unfamiliar to me, but
                                        Sameera created a really comfortable
                                        environment for me to fulfil the duties
                                        of my role... I wouldn't be hesitant to
                                        call him one of the best engineering
                                        managers I crossed paths with, and would
                                        wholeheartedly recommend him to any
                                        organization who would be looking for an
                                        individual of his calibre...
                                        <a
                                            target="_blank"
                                            href="https://www.linkedin.com/in/perera-sameera/details/recommendations/?detailScreenTabIndex=0"
                                            >Read more...</a
                                        >
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="section-heading">
                                    <p class="section-description">
                                        Read more Endorsements on <a
                                            href="https://www.linkedin.com/in/perera-sameera/details/recommendations/?detailScreenTabIndex=0"
                                            >LinkedIn</a
                                        >.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    window.addEventListener("resize", function () {
        // All Values
        makeSameHeight(document.querySelectorAll(".single-service"));
        // All Endorsements
        makeSameHeight(document.querySelectorAll(".single-review"));
    });

    function makeSameHeight(targetDivs) {
        // Reset the height of all divs to 'auto' before calculating the tallest height
        targetDivs.forEach((div) => {
            div.style.height = "auto";
        });

        // Get the tallest height among all divs
        let maxHeight = 0;
        targetDivs.forEach((div) => {
            const height = div.offsetHeight; // Get the height of the div
            maxHeight = Math.max(maxHeight, height);
        });

        // Set the height of all divs to be equal to the tallest one
        targetDivs.forEach((div) => {
            div.style.height = maxHeight + "px";
        });
    }

    // Trigger the resize event initially to set the heights correctly on page load
    window.dispatchEvent(new Event("resize"));
</script>
