---
const { hideSectionHeading, hidePersonality, useQrBlock } = Astro.props;
---

<div class="info-section single-section">
    <div class="row align-items-center">
        <!-- Picture part-->
        <div class="col-12 col-lg-5 info-img">
            <img
                class="img-fluid img-thumbnail"
                src="/img/info-img.png"
                alt="Sameera Perera | Profile Picture"
            />
        </div>
        <!-- Content part-->
        <div class="col-12 col-lg-7 info-content">
            <div class="content-block">
                {
                    hideSectionHeading ? (
                        ""
                    ) : (
                        <h2 class="content-subtitle">Who am i?</h2>
                    )
                }
                <h6 class="content-title">
                    I'm Sameera Perera, an Engineering and Product Leader
                </h6>
                <div class="content-description">
                    <p>
                        I’m an engineering leader, who has built and nurtured
                        teams that have kept innovation in the forefront.
                        Majority of my 20 year career has been in leadership
                        positions ranging from Architect, Product Manager and
                        Director of Engineering. I have led teams in fledgling
                        startups to $1Bn global companies.
                    </p>
                    <p>
                        My strengths in leadership, innovation, and Product-Led
                        Growth strategies have consistently made me the chosen
                        leader for initiatives that pushed the boundaries of
                        each of the businesses I’ve been part of.
                    </p>
                </div>
                {
                    hidePersonality ? (
                        <br />
                    ) : (
                        <div class="content-info">
                            <div class="row">
                                <div class="col-12 col-md-6 single-info">
                                    <span>Personality:</span>
                                    <p>INTP-A</p>
                                </div>
                                <div class="col-12 col-md-6 single-info">
                                    <span>Working Genius:</span>
                                    <p>
                                        <a href="https://www.workinggenius.com/">
                                            Galvanizing & Invention
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6 single-info">
                                    <span>StandOut:</span>
                                    <p>
                                        <a href="https://www.tmbc.com/standout-assessment/">
                                            Influencer, Pioneer
                                        </a>
                                    </p>
                                </div>
                                <div class="col-12 col-md-6 single-info">
                                    <span />
                                    <p />
                                </div>
                            </div>
                        </div>
                    )
                }
                <div
                    class:list={[
                        useQrBlock
                            ? ["d-none", "d-md-flex"]
                            : ["d-block", "d-sm-flex"],
                        "align-items-center",
                    ]}
                >
                    <a
                        class="btn content-download button-main button-scheme"
                        href="https://linkedin.com/in/perera-sameera"
                        role="button"
                        target="_blank">Connect with Me</a
                    >
                    <ul class="list-unstyled list-inline content-follow">
                        <li class="list-inline-item">
                            <a
                                href="https://linkedin.com/in/perera-sameera"
                                target="_blank"
                                ><i class="icon ion-logo-linkedin"></i></a
                            >
                        </li>
                        <li class="list-inline-item">
                            <a href="https://github.com/sameera" target="_blank"
                                ><i class="icon ion-logo-github"></i></a
                            >
                        </li>
                    </ul>
                </div>
                {
                    useQrBlock ? (
                        <div class="row d-block d-md-none">
                            <div
                                id="qrcode"
                                style="position: relative; margin: 1em 0 5em 0; text-align: center"
                            >
                                <img src="img/qr-code.png" alt="QR Code" />
                            </div>
                        </div>
                    ) : (
                        ""
                    )
                }
            </div>
        </div>
    </div>
</div>
