<!-- Preloader-->
<div class="preloader">
    <div class="preloader-block">
        <div class="preloader-icon">
            <span class="loading-dot loading-dot-1"></span><span
                class="loading-dot loading-dot-2"></span><span
                class="loading-dot loading-dot-3"></span>
        </div>
    </div>
</div>
<div id="overlay-effect"></div>
