---
import NavBar from "../components/NavBar.astro";

const { page } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags-->
        <meta charset="utf-8" />
        <!-- Title-->
        <title>Sameera Perera</title>
        <!-- Description-->
        <meta
            name="description"
            content="Sameera Perera - Engineering and Product Innovation Leader"
        />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <!-- Favicons-->
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="img/favicons/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="img/favicons/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="img/favicons/favicon-16x16.png"
        />
        <!-- Web fonts-->
        <link
            href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&display=swap"
            rel="stylesheet"
        />
        <!-- CSS vendors-->
        <link rel="stylesheet" href="/css/bootstrap-custom.css" />
        <link rel="stylesheet" href="/css/ionicons.min.css" />
        <link rel="stylesheet" href="css/simplebar.min.css" />

        <!-- Main CSS-->
        <link rel="stylesheet" href="/css/main.css" />
        <!-- CSS Color scheme-->
        <link
            id="color-scheme"
            rel="stylesheet"
            href="/css/colors/main-orange.css"
        />
        <!-- Custom CSS (Add your custom CSS styles to this file)-->
        <link rel="stylesheet" href="/css/custom.css" />
    </head>

    <body class="theme-dark" style="overflow-y: auto !important">
        <!-- Preloader-->
        <div class="preloader">
            <div class="preloader-block">
                <div class="preloader-icon">
                    <span class="loading-dot loading-dot-1"></span><span
                        class="loading-dot loading-dot-2"></span><span
                        class="loading-dot loading-dot-3"></span>
                </div>
            </div>
        </div>
        <div id="overlay-effect"></div>
        <NavBar page={page} />

        <slot />

        <!-- Scripts-->
        <script is:inline src="/js/jquery.min.js"></script>
        <script is:inline src="/js/bootstrap.bundle.min.js"></script>

        <script src="../js/main.js"></script>
        <!-- Custom JS (Add your custom JS scripts to this file)-->
        <script src="../js/custom.js"></script>

        <!-- Google tag (gtag.js) -->
        <script
            is:inline
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-B6X5CBC6XX"
        ></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "G-B6X5CBC6XX");
        </script>
    </body>
</html>
