---
import HeadBlock from "../components/HeadBlock.astro";
import NavBar from "../components/NavBar.astro";
import Preloader from "../components/Preloader.astro";
import ScriptsBlock from "../components/ScriptsBlock.astro";

const { page, title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <HeadBlock title={title} />

    <body class="theme-dark" style="overflow-y: auto !important">
        <Preloader />
        <NavBar page={page} />

        <slot />

        <ScriptsBlock />
    </body>
</html>
